name: Lint

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Spell Check Repo
        uses: crate-ci/typos@v1.43.1
      - uses: Swatinem/rust-cache@v2
